site_name: RCC User Guide
repo_url: https://rcc.uchicago.edu/
repo_name: Main RCC website
theme:
  name: 'material'
  # name: 'readthedocs'
  features:
    - content.code.copy
    - navigation.footer
    - toc.integrate
    - search.suggest
    - search.highlight
  
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

nav:
  - Home: 'index.md' 
  - 'RCC 101':  
    - Get Started: 101/index.md
    - Accounts: 101/accounts.md 
    - Ecosystems: 101/ecosystems.md 
    - Allocations: 101/allocations.md 
    - Connecting: 101/connecting.md
    - Software: 101/software.md
    - Data Storage: 101/data.md
    - Computing: 101/jobs.md 
    - Policies: 101/policies.md 
    - Glossary: 101/glossary.md 
    - Mistakes: 101/mistakes.md

  - 'Storage': 
    - Basics: storage/main.md 
    - FAQ: storage/faq.md

  - Partitions: partitions.md

  - 'Software':
    - Overview: software/index.md
    - Commonly Used:
      - Alphafold: software/apps-and-envs/alphafold.md
      - CryoSPARC: software/apps-and-envs/cryosparc.md
      - Gaussian: software/apps-and-envs/gaussian.md
      - GROMACS: software/apps-and-envs/gromacs.md
      - LAMMPS: software/apps-and-envs/lammps.md
      - MATLAB: software/apps-and-envs/matlab.md
      - Mathematica: software/apps-and-envs/mathematica.md
      - NAMD: software/apps-and-envs/namd.md
      - NWChem: software/apps-and-envs/nwchem.md
      - OpenMM: software/apps-and-envs/openmm.md
      - OpenPose: software/apps-and-envs/openpose.md
      - ORCA: software/apps-and-envs/orca.md
      - Perl: software/apps-and-envs/perl.md
      - Python, Anaconda, Jupyter Notebook & JupyterLab: software/apps-and-envs/python.md
      - R and RStudio: software/apps-and-envs/r.md
      - Singularity: software/apps-and-envs/singularity.md
      - Spark: software/apps-and-envs/spark.md
      - Stata: software/apps-and-envs/stata.md
      - Tensorflow and PyTorch: software/apps-and-envs/tf-and-torch.md
      - "VSCode (SCode)":
        - Basics: software/apps-and-envs/scode/main.md
        - Extensions: software/apps-and-envs/scode/extensions.md
        - API: software/apps-and-envs/scode/api.md
    - FAQ: software/faq.md

  - 'Compiling':
    - Compilers: software/compilers.md
    - Libraries: software/libraries.md
    - CMake: software/cmake.md
    - Developer Tools: software/dev-tools.md

  - 'Databases': 
    - AlphaFold: databases/alphafold.md
    - BFI: databases/bfi.md
    - Booth: databases/booth.md

  - 'Open OnDemand': open_ondemand/open_ondemand.md
  
  - "Tutorials":
    - KICP Tutorial: tutorials/kicp.md
    - MSCA Tutorial: tutorials/msca.md

  - 'SSH': 
    - Basics: ssh/main.md 
    - Advanced: ssh/advance.md 
    - FAQ: ssh/faq.md

  - 'ThinLinc': 
    - Basics: thinlinc/main.md
    - Troubleshooting: thinlinc/troubleshooting.md

  - SAMBA: samba.md

  - 'Globus': 
    - Access Files: globus/access-files.md
    - Transfer Files: globus/transfer-files.md
    - Share Files: globus/share-files.md

  - 'GIS':
    - Basics: gis/index.md
    - Geocoding: gis/geocoding.md
    - Geospatial: gis/MidwayGeoSpatial.md

  - HTTP: http.md

  - 'SLURM': 
    - Basics: slurm/main.md
    - SBATCH: slurm/sbatch.md 
    - SINTERACTIVE: slurm/sinteractive.md
    - FAQ: slurm/faq.md

  - "MidwayR3":
    - Overview: midwayR3/overview.md
    - Accessing: midwayR3/accessing.md
    - Connecting: midwayR3/connecting.md
    - Data transfer: midwayR3/data-transfer.md
    - Running jobs: midwayR3/running-jobs.md
    - Partitions: midwayR3/partitions.md

extra:
  analytics:
    provider: google
    property: G-BE96ZBJB57

# extra:
#  consent:
#    title: Cookie consent
#    description: > # (1)
#      We use cookies to recognize your repeated visits and preferences, as well
#      as to measure the effectiveness of our documentation and whether users
#      find what they're searching for. With your consent, you're helping us to
#      make our documentation better. 

extra_javascript:
  - stylesheets/gtag.js

markdown_extensions:
  - admonition
  - def_list
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.arithmatex:
      generic: true
  - wikilinks
  - tables
  - attr_list
  - md_in_html
  - pymdownx.magiclink
  - pymdownx.critic
  - md_in_html

plugins:
  - monorepo
  - search:
      separator: '[\s\.]+'
